/*styles for my resume*/
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/*this chamges the font, color, and aligns and transforms the text*/
#name {
  font-size: 3em;
  color:#33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*this hides the image display*/
img{
  display: none;
}

/*this transforms the text, font size, and color*/
b{
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
}

/*this changes the font size, text, background color, font color and font weight*/
h2{
  font-size:1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
}

/*this chamges the font size and the weight*/
h3{
  font-size:1.5em;
  font-weight: 600;
}

/*this changes the font weight and font size*/
h4{
  font-weight: 400;
  font-size: 1.5em;
}

/*this changes the font weight, size and style*/
h5{
  font-weight: 400;
  font-size: 1em;
  font-style: italic
}

/*this changes the font size of the unordered lists*/
ul li{
  font-size: 1em;
}
